{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content%}
<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST">
      {{ form.username(class_='form_control', placeholder='Username',
      autocomplete='off',
      autofocus=true) }}
      {% for error in form.username.errors %}
        <li>
          {{ error }}
        </li>
      {% endfor %}
      {{ form.password(class_='form_control', placeholder='Password',
      autocomplete='off',
      autofocus=true) }}
      {% for error in form.password.errors %}
        <li>
          {{ error }}
        </li>
      {% endfor %}
      {{ form.confirm_pswd(class_='form_control', placeholder='Confirm Password'
      , autocomplete='off', autofocus=true) }}
      {% for error in form.confirm_pswd.errors %}
        <li>
          {{ error }}
        </li>
      {% endfor %}
      {{ form.submit_button }}
      <p class="message"><a href="#"></a></p>
      {{ form.csrf_token }}
    </form>
  </div>
</div>
{% endblock %}